<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header">
    <img
      alt="Penky.io"
      class="img-fluid hero-image"
      src="assets/img/Hero01.png"
    />
  </div>
  <section class="section section-lg home-main-bets">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">          
          <tabset class="nav-tabs-danger all-home-bets">
            <tab heading="Open Bets" class="open-bet">
              <app-openbets></app-openbets>
            </tab>
            <tab heading="Running Bets">
              <app-runningbets></app-runningbets>
            </tab>
            <tab heading="Judging Bets">
              <app-judgingbets></app-judgingbets>
            </tab>
            <tab heading="Closed Bets">
              <app-closedbets></app-closedbets>
            </tab>
          </tabset>              
        </div>
      </div>
    </div>
  </section>
  <app-games></app-games>
  <section class="section section-lg nft-marketplace-home">
      <div class="picture-gradient"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <form class="form">
              <div class="input-group form-group input-box">
                <input class="form-control" type="text" placeholder="Buy your NFT and play the game." />
                <label class="btn-browse-marketplace"> Browse Marketplace </label>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>
  <section class="section section-lg home-last-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row row-grid text-center">
            <div class="col-lg-6">
              <div class="info">
                <div class="icon icon-primary one-block">
                 
                </div>
                <h4 class="info-title">Continuous NFT value growing</h4>
                <p>
                  Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. In hendrerit gravida rutrum dfd quisque non tellus. Etiam sit amet nisl purus in mollis nunc sed id. Adipiscing diam donec ilat adipiscing tristique risus nec.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info">
                <div class="icon icon-primary two-block">
                  
                </div>
                <h4 class="info-title">Encrypted and secure transactions</h4>
                <p>
                  Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. In hendrerit gravida rutrum dfd quisque non tellus. Etiam sit amet nisl purus in mollis nunc sed id. Adipiscing diam donec ilat adipiscing tristique risus nec.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info">
                <div class="icon icon-primary three-block">
                  
                </div>
                <h4 class="info-title">The first and only NFT betting platform</h4>
                <p>
                  Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. In hendrerit gravida rutrum dfd quisque non tellus. Etiam sit amet nisl purus in mollis nunc sed id. Adipiscing diam donec ilat adipiscing tristique risus nec.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info">
                <div class="icon icon-primary four-block">
                 
                </div>
                <h4 class="info-title">Dedicated marketplace for your NFTs</h4>
                <p>
                  Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. In hendrerit gravida rutrum dfd quisque non tellus. Etiam sit amet nisl purus in mollis nunc sed id. Adipiscing diam donec ilat adipiscing tristique risus nec.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>
</div>