<div class="main-nft-marketplace-cards">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-1.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-2.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-3.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-4.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-5.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-6.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-7.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-8.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-9.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-10.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="nft-single-card">
        <div class="nft-card-header">
          <img 
            alt="Penky.io"
            class="img-fluid"
            src="assets/img/nft-11.png" />
        </div>
        <div class="nft-card-body">
          <div class="nf-markets">
            <div class="avg-price avp-1">
              <p class="nft-label">Avg. Price</p>
              <p class="nft-price">6.4 <span class="nft-currency">Penky</span></p>
            </div>
            <div class="avg-per average-price">
              <p class="per-label"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
              <p class="per-price">+2.57%</p>
              <p class="per-time">7 days</p>
              <p class="per-label"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </div>
            <div class="avg-per overall-price">
              <p class="per-label"></p>
              <p class="per-price">+4.88%</p>
              <p class="per-time">Overall</p>
              <p class="per-label"></p>
            </div>
             <div class="avg-price avp-2">
              <p class="nft-label">Best Offer</p>
              <p class="nft-price">6.8 <span class="nft-currency">Penky</span></p>
            </div>
          </div>
          <div class="nf-markets-btn">
            <p class="details-btn"> Details </p>
            <p class="offer-btn"> Offer </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
         <pagination
              class="pagination-danger"
              [boundaryLinks]="true"
              [totalItems]="45"
              [ngModel]="pagination1"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>   
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 text-center"></div>
    </div>
</div>