<section class="section section-lg home-instant-games">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
         <p class="game-section-title">Instant Games</p>
         <p class="game-section-text">Play now at one of our instant games. Just place your bet and get an instant result! No need to own an NFT card! <a href="">Click here</a> for more infos.</p>
      </div>
    </div>
   
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/HighCard.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/HeadOrTail.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/GoForDice.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/RedOrBlack.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/GoldenSeed.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="game-box">
          <div class="game-card-header-section">
            <img src="assets/img/LuckyWheel.png" class="img-fluid game-head-image" />
            <ul class="game-head-info">
              <li>Max Players: <span>2</span></li>
              <li>Min. bet: <span>0.1 PENKY</span></li>
              <li>Max. bet: <span>5 PENKY</span></li>
            </ul>
          </div>
          <div class="game-card-footer-section">
            <p class="game-info-icon"><i class="fa fa-info-circle"></i></p>
            <div class="penky-bet-amount-game">
              <input type="text" class="game-input-penky" value="0.1 PENKY" />
              <div class="game-bet-amount-changes">
                <p class="increment-game-amount"><i class="fa fa-caret-up" aria-hidden="true"></i></p>
                <p class="decrement-game-amount"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
              </div>
              <div class="game-paly-now">
                <p class="play-now-btn"><a href="#">Play Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
         <pagination
              class="pagination-danger"
              [boundaryLinks]="true"
              [totalItems]="45"
              [ngModel]="pagination1"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>   
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 text-center"></div>
    </div>
  </div>
</section>