<app-navbar></app-navbar>
<div class="wrapper">
  <app-level-details></app-level-details>
  <section class="section section-lg nft-marketplace-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <ul class="nft-cards-category">
              <li class="nft-category-active"><p>Trending Cards <span><i class="tim-icons icon-minimal-right"></i></span></p></li>
              <li><p>Actors <span><i class="tim-icons icon-minimal-down"></i></span></p></li>
              <li><p>Soccer Players <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>MMA Fighters <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Icons <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Politicians <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Influencers <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Richest Men <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Musicians <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Soccer Teams <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li>
              <li><p>Motorbike Pilots <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li> 
              <li><p>Car Pilots <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li>
              <li><p>Baseball Players <span><i class="tim-icons icon-minimal-down" aria-hidden="true"></i></span></p></li>  
            </ul>                
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="nft-cards">
            <app-nft-cards></app-nft-cards>
          </div>                  
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
</div>