<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img
            alt="Penky.io"
            class="img-fluid footer-logo"
            src="assets/img/PenkyLogoWhite.png"
          />
          <p class="about-penky">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-md-3">
          <h3 class="widget-title">NFT Betting System</h3>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Buy in and number of players
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Prizes and fees
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Incremental jackpot
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Timed and permanent bets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Buy and sell bet quotes
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="widget-title">Legal aspects and privacy</h3>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Terms of service
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                User agreement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Privacy informations
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Security and encryption
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Responsible gaming
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Fees and taxes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                International gaming
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="widget-title">How does it works?</h3>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                NFT Marketplace
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Auctions and NFT value
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Your account and wallet
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Rarity of NFT cards
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div class="copyright-penky">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="copyright-text">Copyright © 2001-2021, Rational Intellectual Holdings Limited. I marchi registrati Penky sono di proprietà del gruppo di società Wallem Spa e sono utilizzati sotto licenza. Tutti i diritti riservati. REEL Italy Ltd. C.F. 94023030128, Partita IVA MT20174510. Sede legale: Villa Seminia, 8, Sir Temi Zammit Avenue, Ta'Xbiex, XBX1011, Malta. Conc. No. GAD15023.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <ul class="copyright-security">
            <li><a href="#">Termini del Servizio</a> | </li>
            <li><a href="#">Accordo di licenza con l'utente finale</a> | </li>
            <li><a href="#">Informativa sulla privacy</a> | </li>
            <li><a href="#">Gioco responsabile</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <ul class="social-media-links">
            <li><a href="#"><i class='fab fa-discord'></i></a></li>
            <li><a href="#"><i class='fab fa-twitch'></i></a></li>
            <li><a href="#"><i class='fab fa-twitter'></i></a></li>
            <li><a href="#"><i class='fab fa-telegram-plane'></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>