<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                © <%- new Date().getFullYear(); %> All Rights Reserved - Penky DAO.
            </div>
            
        </div>
    </div>
</footer>