<div class="main-open-bets">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="bets-categories">
        <div class="col-lg-9 col-sm-12">
          <ul class="all-bets-category">
            <li class="bet-active"><p class="bet-category-name">All</p></li>
            <li><p class="bet-category-name">Soccer</p></li>
            <li><p class="bet-category-name">Lifestyle</p></li>
            <li><p class="bet-category-name">Politics</p></li>
            <li><p class="bet-category-name">NFL League</p></li>
            <li><p class="bet-category-name">Racing</p></li>
            <li><p class="bet-category-name">Music</p></li>
            <li><p class="bet-category-name">Baseball</p></li>
            <li><p class="bet-category-name">Fighting</p></li>
            <li><p class="bet-category-name">Social Media</p></li>
            <li><p class="bet-category-name">Scandals</p></li>        
          </ul>
        </div>
        <div class="col-lg-3 col-sm-12 bets-search-box">
          <ul class="search-bets-category">
            <li class="search-bets">
              <div class="input-group">
                <input class="form-control" placeholder="Search" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
   </div>

   <div class="row filters-row">
        <div class="col-lg-3 col-sm-12">
          <div class="select-dropdown">
              <div class="wrap-drop" id="judging-gases">
                  <span>Showing judging Bets</span>
                  <ul class="drop">
                      <li><a>Show judged bets</a></li>
                      <li><a>Show missed bets</a></li>
                  </ul>
              </div>
            </div>
        </div>
   </div>

   <div class="row bets-row">
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="succes-class">04h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">           
            <div class="bet-header">
              <p class="bet-type-category">SOCCER - Italy Serie A TIM</p>
              <p class="bet-type-name">first player to score a goal</p>              
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT01.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT02.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT03.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <div class="bet-nft">                
                <a href="#"><img src="assets/img/NFT01.png" /></a>   
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>            
              </div>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT06.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT07.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <div class="bet-nft"> 
                <a href="#"><img src="assets/img/NFT04.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span> 
              </div>              
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT06.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
             <p class="jury-title">The Jury</p>
             <ul class="jury-list">
                <li>Thomas Anderson</li>
                <li class="voted-jury"><i class="fa fa-check"></i> Louis Gonzaga</li>
                <li class="voted-jury"><i class="fa fa-check"></i> CryptoMaster84</li>
                <li>TonyManero</li>
                <li>You</li>
             </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv1" (click)="showDiv.isShowDiv1 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv1" (click)="showDiv.isShowDiv1 = true">More Info</p>
        </div>
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="danger-class">00h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">
            <div class="bet-header">
              <p class="bet-type-category">CAR RACING - F1</p>
              <p class="bet-type-name">FIRST pilot TO SMASH THE CAR</p>              
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer21.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer22.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer23.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer24.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer25.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer21.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer23.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer22.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
             <p class="jury-title">The Jury</p>
             <ul class="jury-list">
                <li>Diaboliqueran</li>
                <li>Webroostsmoke</li>
                <li>Milkshakethethird</li>
                <li>drumlinstickgrapes</li>
                <li>You</li>
             </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv2" (click)="showDiv.isShowDiv2 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv2" (click)="showDiv.isShowDiv2 = true">More Info</p>
        </div>
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="succes-class">04h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">
            <div class="bet-header">
              <p class="bet-type-category">CINEMA - International actors</p>
              <p class="bet-type-name">FIRST ACTOR TO DIE</p>              
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer17.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer18.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer19.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer20.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer17.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer19.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer20.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer18.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
             <p class="jury-title">The Jury</p>
             <ul class="jury-list">
                <li>Netpoolkarate</li>
                <li class="voted-jury"><i class="fa fa-check"></i> Yogaglovepuck</li>
                <li>Boxinghockey</li>
                <li class="voted-jury"><i class="fa fa-check"></i> Horseracingbat</li>
                <li>You</li>
             </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv3">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv3" (click)="showDiv.isShowDiv3 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv3" (click)="showDiv.isShowDiv3 = true">More Info</p>
        </div>
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="succes-class">04h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">
            <div class="bet-header">
              <p class="bet-type-category">UFC - Mixed Martial Arts</p>
              <p class="bet-type-name">QUICKEST FIGHTER TO LOSE THE match</p>
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer4.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer5.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer6.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer7.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer8.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer9.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer4.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer6.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
             <p class="jury-title">The Jury</p>
             <ul class="jury-list">
                <li>Theshiningheat</li>
                <li class="voted-jury"><i class="fa fa-check"></i> Grootpsychoran</li>
                <li class="voted-jury"><i class="fa fa-check"></i> Thehelpolafneo</li>
                <li>Networkalien</li>
                <li>You</li>
             </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv4" (click)="showDiv.isShowDiv4 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv4" (click)="showDiv.isShowDiv4 = true">More Info</p>
        </div>
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="succes-class">04h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">
            <div class="bet-header">
              <p class="bet-type-category">MOTO RACING - Moto GP</p>
              <p class="bet-type-name">FIRST RIDER TO BREAK A BONE</p>
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer1.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer2.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer3.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer1.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer2.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer3.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer1.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/Layer2.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
               <p class="jury-title">The Jury</p>
               <ul class="jury-list">
                  <li class="voted-jury"><i class="fa fa-check"></i> Akirageniered</li>
                  <li>Baneshrekikiru</li>
                  <li class="voted-jury"><i class="fa fa-check"></i> Neostalkerlock</li>
                  <li>grantorinoran</li>
                  <li>You</li>
               </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv5">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv5" (click)="showDiv.isShowDiv5 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv5" (click)="showDiv.isShowDiv5 = true">More Info</p>
        </div>
        <div class="col-lg-6 col-sm-12 bet-col">
          <div class="judgin-timeslot">
            <div class="timing-remain"><p>Time left to vote: <span class="succes-class">04h 12m 18s</span></p></div>
            <div class="report-a-problem"><p>Report a problem: <span>DRAW</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>NULL</span><span class="report-seperater"><i class="fa fa-circle" aria-hidden="true"></i></span><span>CANCELED</span></p></div>
          </div>
          <div class="bet-box judgin-bets">
            <div class="bet-header">
              <p class="bet-type-category">SOCCER - Worldwide</p>
              <p class="bet-type-name">HIGHEST NUMBER OF GOALS</p>
            </div>
            <div class="bet-body">
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT01.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT02.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT03.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT04.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT07.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT06.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle selcted-for-vote" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT03.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
              <p class="bet-nft">
                <a href="#"><img src="assets/img/NFT04.png" /></a>
                <span class="vote-dot"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></span>
              </p>
            </div>
            <div class="bet-footer judging-footer">
               <p class="jury-title">The Jury</p>
               <ul class="jury-list">
                  <li>Harrypotterneo</li>
                  <li class="voted-jury"><i class="fa fa-check"></i> Highnoonakira</li>
                  <li class="voted-jury"><i class="fa fa-check"></i> Redbanetimon</li>
                  <li>Insideoutrocky</li>
                  <li>You</li>
               </ul>
            </div>
          </div>
          <div class="bet-info" *ngIf="showDiv.isShowDiv6">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
          </div>
          <p class="hide-info" *ngIf="showDiv.isShowDiv6" (click)="showDiv.isShowDiv6 = false">Close Info</p>
          <p class="show-info" *ngIf="!showDiv.isShowDiv6" (click)="showDiv.isShowDiv6 = true">More Info</p>
        </div>
   </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center bets-pagination">
          <pagination
              class="pagination-danger"
              [boundaryLinks]="true"
              [totalItems]="45"
              [ngModel]="pagination1"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
          </pagination>   
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 text-center"></div>
  </div>
</div>